/*************Base Style**************/
body {
    width: 1400px;
    background-color: #1f202b;
    margin: 0 auto !important;
}

ul {
    list-style-type: none;
}

/*************Grid**************/
#head {
    height: 800px;

}


#about,
#contact {
    height: 550px;
}

.full {
    width: 1400px;
}

.half {
    width: 700px;
    float: left;
}

.third {
    width: 460px;
    float: left;
}

/*************header**************/
#nav-bar {
    background-color: #1f202b;
    height: 75px;
}

nav ul li a {
    text-decoration: none;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 45px;
    color: white;
    font-weight: bold;
    float: right;
    display: inline-block;
}

.half nav {
    clear: both;
}

header {
    background-image: url(../img/hero-background.png);
    background-size: 1400px 800px;
    color: white;
}

.half h2 {
    font-size: 30px;
    line-height: 29px;
    clear: both;
    text-align: left;
}

span {
    color: #f70074;
}

header h1 {
    font-size: 72px;
    width: 700px;
    margin-top: 100px;
    padding-top: 50px;
    margin-left: 100px;
}

/*************portfolior**************/
#portfolio {
    margin: 20px 100px 20px 100px
}

#portfolio .full h2 {
    text-align: center;
    color: #f70074;
    font-family: 'Source Code Pro', sans-serif;
    font-size: 36px;
    font-weight: lighter;
}

#portfolio .half h3 {

    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;

}

#portfolio .half p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    width: 550px;
}

#portfolio .half {
    height: 350px;
    width: 650px;
    margin: 50px 0px 50px 0px;

}

.half img {
    width: 500px;
    height: 350px;
    border: 1px solid white;
}

#portfolio h2 {
    text-align: center;
    color: #f70074;
    margin-top: 50px;
}

#portfolio .full {
    color: white;

}

/*************about**************/
#about {
    background-image: url(../img/about-me.png);
    background-size: cover;
    clear: both;
    margin-bottom: 100px;
    font-family: 'Montserrat', sans-serif;
}


#about .full h2 {
    text-align: center;
    color: #f70074;
    font-family: 'Source Code Pro', sans-serif;
    font-size: 36px;
    font-weight: lighter;
}

#about .half h3 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    padding-left: 100px;
}

#about .half p {
    margin: 20px 10px 0px 100px;
    color: black;
    font-size: 20px;

}

#about .half {
    width: 500px;
    height: 250px;
    color: white;
}

/*************foooter**************/
#contact {
    color: white;
}

#contact h2 {
    font-family: 'Source Code Pro', sans-serif;
    font-size: 36px;
    color: #f70074;
    font-weight: lighter;
}

#contact h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

#contact p {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

#follow .third {
    width: 400px;
}

#follow a {
    margin: 20px;
}

#email .third {
    width: 500px;
}

#meet-up .third {
    width: 500px;
}

#contact .full {
    text-align: center;
}

#copy-right {
    float: left;
    font-size: 18px;
}

.melissa {
    border-radius: 50%;
    width: 100px;
}
